.demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10vw;
  height: 10vh;
}

.demo .menu-icon {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

:root {
  --bar-bg: #e3e6e9;
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menu-icon .menu-icon__cheeckbox {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
}

.menu-icon div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: px;
  height: 12px;
}

.menu-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--bar-bg, #000);
  border-radius: 1px;
  -webkit-transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

.menu-icon span:first-of-type {
  top: 0;
}

.menu-icon span:last-of-type {
  bottom: 0;
}

.menu-icon.active span:first-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:first-of-type {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5px;
}

.menu-icon.active span:last-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:last-of-type {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 5px;
}

.menu-icon.active:hover span:first-of-type,
.menu-icon.active:hover span:last-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
  width: 22px;
}

@media (min-width: 1024px) {
  .menu-icon:hover span:first-of-type {
    width: 26px;
  }
  .menu-icon:hover span:last-of-type {
    width: 12px;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  background-color: #f5f0ec;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  overflow: hidden;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #f5f0ec;
  height: 100%;
  margin-left: 5em;
  margin-top: 2em;
}

.header__box-title {
  font-family: 'Lustria', serif;
  margin-top: 2em;
  z-index: 3;
  font-size: 3rem;
}

.header__box-text, .header__box-info {
  font-family: 'Lato', sans-serif;
  margin-top: 0.5em;
  font-weight: 300;
  font-style: italic;
  opacity: 0.6;
  font-size: 2rem;
}

.header__box-info {
  font-size: 1.6rem;
  opacity: 0.4;
}

.logo-icon {
  position: fixed;
  top: 23px;
  display: block;
  margin: 1em auto;
  text-align: center;
  width: 30%;
  height: 10vh;
  text-align: center;
  font-size: 1rem;
  opacity: 0.7;
  z-index: 6;
  font-family: 'Lustria', serif;
  color: #f5f0ec;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.logo-icon--active {
  color: #000000;
}

.imgg {
  position: absolute;
  display: block;
  height: 70%;
  bottom: 0;
  right: -260px;
  z-index: 1;
  opacity: 0.7;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 30%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: #f5f0ec;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: 5;
  border-right: 1px solid #000000;
}

.nav__logo {
  color: #000000;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__items-item {
  position: relative;
  color: #000000;
  margin-top: 1em;
  padding: 1em;
  text-decoration: none;
  cursor: pointer;
}

.nav__items-item::before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background-color: #000000;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  content: '';
}

.nav__items-item:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.deskop {
  display: none;
}

.demo {
  position: fixed;
  top: 10px;
  right: 35px;
  z-index: 100;
}

.arrow-down {
  position: absolute;
  text-align: center;
  bottom: 5vh;
  color: #f5f0ec;
  font-size: 3rem;
  width: 100vw;
  margin: auto;
  z-index: 5;
  padding: 0.5em;
  cursor: pointer;
  text-decoration: none;
}

.compo {
  position: relative;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
  width: 100%;
}

.section__title {
  position: relative;
  display: block;
  text-align: center;
  font-family: 'Lustria', serif;
  text-transform: uppercase;
  margin: 1em;
  font-size: 2rem;
}

.section__title::before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #000000;
  content: '';
}

.aboutme {
  width: 100vw;
  line-height: 2em;
  margin: 1em 0;
  text-align: center;
}

.aboutme__box {
  margin: 1.2em;
}

.aboutme__box-text {
  font-weight: 300;
  font-size: 2rem;
  margin-top: 1em;
}

.aboutme__box-special {
  background-color: #000000;
  color: #f5f0ec;
  color: #f5f0ec;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  border-radius: 8px;
  -webkit-box-shadow: 3px 3px 1px black;
          box-shadow: 3px 3px 1px black;
  background-color: #000000;
  color: #f5f0ec;
  margin: 2em auto;
}

.card__title {
  font-family: 'Lustria', serif;
  letter-spacing: 1.5px;
  margin: 0.5em;
  font-size: 2rem;
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 1.5em;
}

.card__content-icon {
  font-size: 2rem;
  margin-right: 1em;
}

.card__content-text {
  font-weight: 300;
  font-size: 1.8rem;
}

.section-test {
  height: 200vh;
}

@media (min-width: 576px) {
  .logo-icon {
    font-size: 1.5rem;
  }
  .header__box-title {
    font-size: 4rem;
  }
  .header__box-text {
    font-size: 3rem;
  }
  .header__box-info {
    font-size: 2rem;
  }
  .section__title {
    font-size: 3rem;
  }
  .aboutme__box-text {
    font-size: 2.5rem;
  }
  .nav__items-item {
    font-size: 1.8rem;
  }
  .custom-shape-divider-top-1645355323 svg {
    width: calc(100% + 1.3px);
    height: 100px;
  }
}

@media (min-width: 768px) {
  .logo-icon {
    font-size: 1.8rem;
  }
  .header__box-title {
    font-size: 5rem;
  }
  .header__box-text {
    font-size: 3.5rem;
  }
  .header__box-info {
    font-size: 2.5rem;
  }
  .section__title {
    font-size: 3.2rem;
  }
  .aboutme__box-text {
    font-size: 2.8rem;
    line-height: 1.5em;
  }
  .nav__items-item {
    font-size: 2rem;
  }
  .custom-shape-divider-top-1645355323 svg {
    width: calc(100% + 2px);
    height: 120px;
  }
}

@media (min-width: 992px) {
  .logo-icon {
    margin-top: 0.5em;
    font-size: 1.8rem;
  }
  .header__box-title {
    font-size: 6rem;
  }
  .header__box-text {
    font-size: 4rem;
  }
  .header__box-info {
    font-size: 3rem;
  }
  .section__title {
    font-size: 3.5rem;
    margin-top: 3em;
  }
  .aboutme__box-text {
    margin-top: 3em;
    font-size: 2.8rem;
    line-height: 1.5em;
  }
  .card {
    margin-top: 4em;
  }
  .demo {
    display: none;
  }
  .custom-shape-divider-top-1645355323 svg {
    width: calc(100% + 2px);
    height: 140px;
  }
  .logo-icon {
    display: none;
  }
  .deskop {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 20vh;
    width: 100vw;
  }
  .deskop-logo {
    text-align: center;
    font-family: 'Lustria', serif;
    width: 30%;
    text-align: center;
    font-size: 2rem;
    opacity: 0.7;
    color: #f5f0ec;
  }
  .deskop__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 10vh;
    width: 100vw;
  }
  .deskop__items-item {
    color: #f5f0ec;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #f5f0ec;
    padding: 2em;
  }
}
/*# sourceMappingURL=main.css.map */