.demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10vw;
  height: 10vh;
}

.demo .menu-icon {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

:root {
  --bar-bg: #05fdd8;
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menu-icon .menu-icon__cheeckbox {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
}

.menu-icon div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: px;
  height: 12px;
}

.menu-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--bar-bg, #000);
  border-radius: 1px;
  -webkit-transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

.menu-icon span:first-of-type {
  top: 0;
}

.menu-icon span:last-of-type {
  bottom: 0;
}

.menu-icon.active span:first-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:first-of-type {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5px;
}

.menu-icon.active span:last-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:last-of-type {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 5px;
}

.menu-icon.active:hover span:first-of-type,
.menu-icon.active:hover span:last-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
  width: 22px;
}

@media (min-width: 1024px) {
  .menu-icon:hover span:first-of-type {
    width: 26px;
  }
  .menu-icon:hover span:last-of-type {
    width: 12px;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  background-color: #f5f0ec;
  overflow-x: hidden;
}

.languageSwitcher {
  z-index: 199999;
  border: none;
  color: white;
  border-radius: 5px;
  background: black;
  padding: 5px;
  border: none;
}

.languageSwitcher option {
  background: transparent;
  border: none;
}

.content {
  display: none;
}

.loading-page {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000000;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  overflow: hidden;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #f5f0ec;
  height: 100%;
  margin-left: 5em;
}

.header__box-title {
  font-family: 'Lustria', serif;
  margin-top: 0.5em;
  z-index: 3;
  font-size: 3rem;
}

.header__box-text, .header__box-info {
  font-family: 'Lato', sans-serif;
  margin-top: 0.5em;
  font-weight: 300;
  font-style: italic;
  opacity: 0.6;
  font-size: 2rem;
  color: #05fdd8;
}

.header__box-info {
  font-size: 1.6rem;
  opacity: 0.4;
}

.logo-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30vw;
  height: 10vh;
  margin-top: 0.5em;
}

.logo-icon {
  display: block;
  position: fixed;
  text-align: center;
  text-align: center;
  font-size: 1rem;
  opacity: 0.7;
  z-index: 6;
  font-family: 'Lustria', serif;
  color: #05fdd8;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.logo-icon--active {
  color: #000000;
}

.imgg {
  position: absolute;
  display: block;
  height: 70%;
  bottom: 0;
  right: -260px;
  z-index: 1;
  opacity: 0.7;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 30%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: #f5f0ec;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: 5;
  border-right: 1px solid #05fdd8;
}

.nav__logo {
  color: #000000;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__items-item {
  position: relative;
  color: #000000;
  margin-top: 1em;
  padding: 1em;
  text-decoration: none;
  cursor: pointer;
}

.nav__items-item::before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background-color: #05fdd8;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  content: '';
}

.nav__items-item:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.deskop {
  display: none;
}

.demo {
  position: fixed;
  top: 10px;
  right: 35px;
  z-index: 100;
}

.arrow-down {
  position: absolute;
  text-align: center;
  bottom: 5vh;
  color: #05fdd8;
  font-size: 3rem;
  width: 100vw;
  margin: auto;
  z-index: 5;
  padding: 0.5em;
  cursor: pointer;
  text-decoration: none;
}

.compo {
  position: relative;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
  width: 100%;
  margin: 2em auto;
}

.section__title {
  position: relative;
  display: block;
  text-align: center;
  font-family: 'Lustria', serif;
  text-transform: uppercase;
  font-size: 2rem;
}

.section__title::before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #05fdd8;
  content: '';
}

.aboutme {
  width: 100vw;
  line-height: 2em;
  text-align: center;
}

.aboutme__box {
  margin: 1.2em;
}

.aboutme__box-text {
  font-weight: 300;
  font-size: 2rem;
  margin-top: 1em;
}

.aboutme__box-special {
  background-color: #000000;
  color: #f5f0ec;
  color: #f5f0ec;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 1px #05fdd8;
          box-shadow: 2px 2px 1px #05fdd8;
  background-color: #000000;
  color: #f5f0ec;
  margin: 2em auto;
}

.card__title {
  font-family: 'Lustria', serif;
  letter-spacing: 1.5px;
  margin: 0.5em;
  font-size: 2rem;
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 1.5em;
}

.card__content-icon {
  font-size: 2rem;
  margin-right: 1em;
  color: #05fdd8;
}

.card__content-text {
  font-weight: 300;
  font-size: 1.8rem;
}

.section-test {
  height: 200vh;
}

.section-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid black;
  -webkit-box-shadow: 2px 2px 1px #000000;
          box-shadow: 2px 2px 1px #000000;
  width: 280px;
  margin: 1em;
  border-radius: 5px;
}

.offer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #05fdd8;
  background-color: #05fdd8;
}

.offer__top-title {
  text-align: center;
  font-family: 'Lustria', serif;
  height: 50%;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.offer__top-info {
  font-size: 1.4rem;
  opacity: 0.7;
  font-weight: 300;
  font-style: italic;
}

.offer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 350px;
}

.offer__bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 90%;
}

.offer__bottom-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  font-size: 1.5rem;
  margin: 0 0.5em;
  border-bottom: 2px solid #05fdd8;
  width: 100%;
  height: 100%;
}

.offer__bottom-list-item:last-child {
  border: none;
}

.section-opinion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.opinion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 300px;
  border: 2px solid #000000;
  -webkit-box-shadow: 2px 2px 1px #000000;
          box-shadow: 2px 2px 1px #000000;
  border-radius: 5px;
  margin: 1em;
}

.opinion__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 30%;
  border-bottom: 2px solid #05fdd8;
}

.opinion__top-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  height: 100%;
  color: #05fdd8;
  font-size: 3rem;
}

.opinion__top-name {
  text-align: center;
  width: 80%;
}

.opinion__top-name-who {
  font-size: 2.2rem;
}

.opinion__top-name-kind {
  font-style: italic;
}

.opinion__bottom {
  height: 70%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opinion__bottom-text {
  margin: 0.5em;
  text-align: center;
  font-style: italic;
}

.section-contact {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 0;
}

.form__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80vw;
}

.form__box-input, .form__box-area, .form__box-btn {
  width: 70%;
  margin-top: 1em;
  padding: 0.5em;
  background-color: #292929;
  border: none;
  border-radius: 5px;
  color: #05fdd8;
  max-width: 500px;
}

.form__box-text {
  color: red;
  font-size: 1.4rem;
  margin-top: 0.5em;
  visibility: hidden;
}

.form__box-area {
  width: 100%;
  height: 150px;
  max-width: 100%;
  width: 100%;
  min-height: 150px;
  max-height: 300px;
}

.form__box-btn {
  padding: 0.5em 1em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  max-width: 300px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.form__box-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.form-error {
  visibility: visible;
}

.map {
  position: relative;
  margin: 1em auto;
}

.map-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 253, 216, 0.2);
  z-index: 1;
}

.flaga {
  background-image: url("../img/poland-162393_640.png");
  width: 30px;
  height: 20px;
  background-size: cover;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 10vh;
  background-color: #000000;
  color: #f5f0ec;
}

@media (min-width: 576px) {
  .logo-icon {
    font-size: 1.5rem;
  }
  .header__box-title {
    font-size: 4rem;
  }
  .header__box-text {
    font-size: 3rem;
  }
  .header__box-info {
    font-size: 2rem;
  }
  .section__title {
    font-size: 3rem;
  }
  .aboutme__box-text {
    font-size: 2.5rem;
  }
  .nav__items-item {
    font-size: 1.8rem;
  }
  .custom-shape-divider-top-1645355323 svg {
    width: calc(100% + 1.3px);
    height: 100px;
  }
}

@media (min-width: 768px) {
  .logo-icon {
    font-size: 1.8rem;
  }
  .header__box-title {
    font-size: 5rem;
  }
  .header__box-text {
    font-size: 3.5rem;
  }
  .header__box-info {
    font-size: 2.5rem;
  }
  .section__title {
    font-size: 3.2rem;
  }
  .aboutme__box-text {
    font-size: 2.8rem;
    line-height: 1.5em;
  }
  .nav__items-item {
    font-size: 2rem;
  }
  .custom-shape-divider-top-1645355323 svg {
    width: calc(100% + 2px);
    height: 120px;
  }
}

@media (min-width: 992px) {
  .logo-icon {
    margin-top: 0.5em;
    font-size: 1.8rem;
  }
  .header__box {
    margin-top: 5em;
    width: 100vw;
    margin: 5em auto;
  }
  .header__box-title {
    font-size: 6rem;
  }
  .header__box-text {
    font-size: 4rem;
  }
  .header__box-info {
    font-size: 3rem;
  }
  .section__title {
    font-size: 3.5rem;
  }
  .aboutme__box-text {
    margin-top: 3em;
    font-size: 2.8rem;
    line-height: 1.5em;
  }
  .card {
    margin-top: 4em;
  }
  .demo {
    display: none;
  }
  .custom-shape-divider-top-1645355323 svg {
    width: calc(100% + 2px);
    height: 140px;
  }
  .logo-icon {
    display: none;
  }
  .deskop {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 20vh;
    width: 100vw;
  }
  .deskop-logo {
    text-align: center;
    font-family: 'Lustria', serif;
    width: 30%;
    text-align: center;
    font-size: 2rem;
    opacity: 0.7;
    color: #f5f0ec;
  }
  .deskop__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 10vh;
    width: 100vw;
    margin-left: 5em;
  }
  .deskop__items-item {
    position: relative;
    color: #f5f0ec;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em 1em;
    margin-left: 4em;
  }
  .deskop__items-item::before {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    background-color: #f5f0ec;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    content: '';
  }
  .deskop__items-item:hover::before {
    -webkit-transform: scaleX(0.8);
            transform: scaleX(0.8);
  }
}
/*# sourceMappingURL=main.css.map */