@import './colors';
@import './hamburger';
// @import './components';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	// font-family: 'Lustria', serif;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	background-color: $text-color-white;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.header {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: $bgc-color-black;
	overflow: hidden;
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		color: $text-color-white;
		height: 100%;
		margin-left: 5em;
		margin-top: 2em;

		&-title {
			font-family: 'Lustria', serif;
			margin-top: 2em;
			z-index: 3;
			font-size: 3rem;
		}
		&-text,
		&-info {
			font-family: 'Lato', sans-serif;
			margin-top: 0.5em;
			font-weight: 300;
			font-style: italic;
			opacity: 0.6;
			font-size: 2rem;
		}
		&-info {
			font-size: 1.6rem;
			opacity: 0.4;
		}
	}
}
.logo-icon {
	position: fixed;
	display: block;
	top: 23px;

	width: 30%;
	text-align: center;
	font-size: 1rem;
	opacity: 0.7;
	z-index: 6;
	color: $text-color-white;
	transition: color 0.15s;
	&--active {
		color: $bgc-color-black;
	}
}
.imgg {
	position: absolute;
	display: block;
	height: 70%;
	bottom: 0;
	right: -260px;
	z-index: 2;
}
.nav {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 30%;
	transform: translateX(-100%);
	background-color: $text-color-white;
	transition: transform 0.3s;
	z-index: 5;
	&__logo {
		color: $bgc-color-black;
	}
	&__items {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&-item {
			position: relative;
			color: $bgc-color-black;
			margin-top: 1em;
			padding: 1em;
			text-decoration: none;
			cursor: pointer;
			&::before {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 2px;
				width: 100%;
				transform: scaleX(0);
				background-color: $bgc-color-black;
				transition: transform 0.3s;
				content: '';
			}
			&:hover::before {
				transform: scaleX(1);
			}
		}
	}
}
.nav-active {
	transform: translateX(0%);
}

.demo {
	position: fixed;
	top: 10px;
	right: 35px;
	z-index: 100;
}
.arrow-down {
	position: absolute;
	text-align: center;
	bottom: 5vh;
	color: $text-color-white;
	font-size: 3rem;
	width: 100vw;
	// transform: translateX(+50%);
	margin: auto;
	z-index: 5;
	padding: 0.5em;
	cursor: pointer;
	text-decoration: none;
}
.compo {
	position: relative;
}

.section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
	width: 100%;
	&__title {
		position: relative;
		display: block;
		text-align: center;
		font-family: 'Lustria', serif;
		text-transform: uppercase;
		margin: 1em;
		font-size: 2rem;
		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 2px;
			width: 100%;

			background-color: $bgc-color-black;
			content: '';
		}
	}
}
// aboutme
.aboutus {
	width: 100vw;
	line-height: 1.5em;
	margin: 1em 0;
	text-align: center;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	border-radius: 8px;
	box-shadow: 3px 3px 1px black;
	background-color: $bgc-color-black;
	color: $text-color-white;
	margin: 2em auto;
	&__title {
		font-family: 'Lustria', serif;
		letter-spacing: 1.5px;
		margin: 0.5em;
		font-size: 2rem;
	}
	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 1.5em;
		&-icon {
			font-size: 2rem;
			margin-right: 1em;
		}
		&-text {
			font-weight: 300;
			font-size: 1.8rem;
		}
	}
}

.section-test {
	height: 200vh;
}
