@import './colors';
@import './hamburger';

// @import './components';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	// font-family: 'Lustria', serif;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	background-color: $text-color-white;
	overflow-x: hidden;
}
.content {
	display: none;
}
.loading-page {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $bgc-color-black;
	overflow: hidden;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.header {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: $bgc-color-black;
	overflow: hidden;
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		color: $text-color-white;
		height: 100%;
		margin-left: 5em;

		&-title {
			font-family: 'Lustria', serif;
			margin-top: 0.5em;
			z-index: 3;
			font-size: 3rem;
		}
		&-text,
		&-info {
			font-family: 'Lato', sans-serif;
			margin-top: 0.5em;
			font-weight: 300;
			font-style: italic;
			opacity: 0.6;
			font-size: 2rem;
			color: $additional-color;
		}
		&-info {
			font-size: 1.6rem;
			opacity: 0.4;
		}
	}
}
.logo-mobile {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30vw;
	height: 10vh;
	margin-top: 0.5em;
}
.logo-icon {
	display: block;
	position: fixed;
	text-align: center;
	// width: 30%;
	text-align: center;
	font-size: 1rem;
	opacity: 0.7;
	z-index: 6;
	// transform: translateX(-5%);
	font-family: 'Lustria', serif;
	color: $additional-color;
	transition: color 0.15s;
	&--active {
		color: $bgc-color-black;
	}
}
.imgg {
	position: absolute;
	display: block;
	height: 70%;
	bottom: 0;
	right: -260px;
	z-index: 1;
	opacity: 0.7;
}
.nav {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 30%;
	transform: translateX(-100%);
	background-color: $text-color-white;
	transition: transform 0.3s;
	z-index: 5;
	border-right: 1px solid $additional-color;
	&__logo {
		color: $bgc-color-black;
	}
	&__items {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&-item {
			position: relative;
			color: $bgc-color-black;
			margin-top: 1em;
			padding: 1em;
			text-decoration: none;
			cursor: pointer;
			&::before {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 2px;
				width: 100%;
				transform: scaleX(0);
				background-color: $additional-color;
				transition: transform 0.3s;
				content: '';
			}
			&:hover::before {
				transform: scaleX(1);
			}
		}
	}
}
.nav-active {
	transform: translateX(0%);
}
.deskop {
	display: none;
}

.demo {
	position: fixed;
	top: 10px;
	right: 35px;
	z-index: 100;
}
.arrow-down {
	position: absolute;
	text-align: center;
	bottom: 5vh;
	color: $additional-color;
	font-size: 3rem;
	width: 100vw;
	// transform: translateX(+50%);
	margin: auto;
	z-index: 5;
	padding: 0.5em;
	cursor: pointer;
	text-decoration: none;
}
.compo {
	position: relative;
}

.section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
	width: 100%;
	margin: 2em auto;
	&__title {
		position: relative;
		display: block;
		text-align: center;
		font-family: 'Lustria', serif;
		text-transform: uppercase;
		font-size: 2rem;
		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 2px;
			width: 100%;

			background-color: $additional-color;
			content: '';
		}
	}
}
// aboutme
.aboutme {
	width: 100vw;
	line-height: 2em;
	text-align: center;
	&__box {
		margin: 1.2em;
	}
}
.aboutme__box-text {
	font-weight: 300;
	font-size: 2rem;
	margin-top: 1em;
}
.aboutme__box-special {
	background-color: $bgc-color-black;
	color: $text-color-white;
	color: $text-color-white;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	border-radius: 5px;
	box-shadow: 2px 2px 1px $additional-color;
	background-color: $bgc-color-black;
	color: $text-color-white;
	margin: 2em auto;
	&__title {
		font-family: 'Lustria', serif;
		letter-spacing: 1.5px;
		margin: 0.5em;
		font-size: 2rem;
	}
	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 1.5em;
		&-icon {
			font-size: 2rem;
			margin-right: 1em;
			color: $additional-color;
		}
		&-text {
			font-weight: 300;
			font-size: 1.8rem;
		}
	}
}

.section-test {
	height: 200vh;
}

// offer

.section-offer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100vw;
	flex-wrap: wrap;
}
.offer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px solid black;
	box-shadow: 2px 2px 1px $bgc-color-black;
	width: 280px;
	margin: 1em;
	border-radius: 5px;
	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 80px;
		width: 100%;
		border-bottom: 1px solid $additional-color;
		background-color: $additional-color;
		&-title {
			text-align: center;
			font-family: 'Lustria', serif;
			height: 50%;
			font-size: 1.8rem;
			text-transform: uppercase;
		}
		&-info {
			font-size: 1.4rem;
			opacity: 0.7;
			font-weight: 300;
			font-style: italic;
		}
	}
	&__bottom {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 350px;
		&-list {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 90%;

			&-item {
				display: flex;
				flex-direction: column;
				justify-content: center;
				list-style: none;
				font-size: 1.5rem;
				margin: 0 0.5em;
				border-bottom: 2px solid $additional-color;
				width: 100%;
				height: 100%;
				&:last-child {
					border: none;
				}
			}
		}
	}
}
//opinion
.section-opinion {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.opinion {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 300px;
	border: 2px solid $bgc-color-black;
	box-shadow: 2px 2px 1px $bgc-color-black;
	border-radius: 5px;
	margin: 1em;
	&__top {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		width: 100%;
		height: 30%;
		border-bottom: 2px solid $additional-color;

		&-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20%;
			height: 100%;
			color: $additional-color;
			font-size: 3rem;
		}
		&-name {
			text-align: center;
			width: 80%;
			&-who {
				font-size: 2.2rem;
			}
			&-kind {
				font-style: italic;
			}
		}
	}
	&__bottom {
		height: 70%;
		width: 100%;
		display: flex;
		align-items: center;
		&-text {
			margin: 0.5em;
			text-align: center;
			font-style: italic;
		}
	}
}
.section-contact {
	width: 100vw;
	display: flex;
	flex-direction: column;
}
.form {
	background-color: $bgc-color-black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// margin: 1em 0;
	padding: 2em 0;

	&__box {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		width: 80vw;

		&-input,
		&-area,
		&-btn {
			width: 70%;
			margin-top: 1em;
			padding: 0.5em;
			background-color: rgb(41, 41, 41);
			border: none;
			border-radius: 5px;
			color: $additional-color;
			max-width: 500px;
		}
		&-text {
			color: red;
			font-size: 1.4rem;
			margin-top: 0.5em;
			visibility: hidden;
		}
		&-area {
			width: 100%;
			height: 150px;
			max-width: 100%;
			width: 100%;
			min-height: 150px;
			max-height: 300px;
		}
		&-btn {
			padding: 0.5em 1em;
			align-self: flex-end;
			cursor: pointer;
			max-width: 300px;
			transition: transform 0.3s;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}
.form-error {
	visibility: visible;
}
.map {
	position: relative;
	margin: 1em auto;
	&-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($additional-color, 0.2);
	}
}
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 10vh;
	background-color: $bgc-color-black;
	color: $text-color-white;
}
// media

@media (min-width: 576px) {
	.logo-icon {
		font-size: 1.5rem;
	}
	.header__box-title {
		font-size: 4rem;
	}
	.header__box-text {
		font-size: 3rem;
	}
	.header__box-info {
		font-size: 2rem;
	}
	.section__title {
		font-size: 3rem;
	}
	.aboutme__box-text {
		font-size: 2.5rem;
	}
	.nav__items-item {
		font-size: 1.8rem;
	}
	.custom-shape-divider-top-1645355323 svg {
		width: calc(100% + 1.3px);
		height: 100px;
	}
}
@media (min-width: 768px) {
	.logo-icon {
		font-size: 1.8rem;
	}
	.header__box-title {
		font-size: 5rem;
	}
	.header__box-text {
		font-size: 3.5rem;
	}
	.header__box-info {
		font-size: 2.5rem;
	}
	.section__title {
		font-size: 3.2rem;
	}
	.aboutme__box-text {
		font-size: 2.8rem;
		line-height: 1.5em;
	}
	.nav__items-item {
		font-size: 2rem;
	}
	.custom-shape-divider-top-1645355323 svg {
		width: calc(100% + 2px);
		height: 120px;
	}
}
@media (min-width: 992px) {
	.logo-icon {
		margin-top: 0.5em;
		font-size: 1.8rem;
	}
	.header__box {
		margin-top: 5em;
		width: 100vw;
		margin: 5em auto;
	}
	.header__box-title {
		font-size: 6rem;
	}
	.header__box-text {
		font-size: 4rem;
	}
	.header__box-info {
		font-size: 3rem;
	}
	.section__title {
		font-size: 3.5rem;
		// margin-top: 3em;
	}
	.aboutme__box-text {
		margin-top: 3em;
		font-size: 2.8rem;
		line-height: 1.5em;
	}
	.card {
		margin-top: 4em;
	}
	.demo {
		display: none;
	}
	.custom-shape-divider-top-1645355323 svg {
		width: calc(100% + 2px);
		height: 140px;
	}
	.logo-icon {
		display: none;
	}
	.deskop {
		position: absolute;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		height: 20vh;
		width: 100vw;
		&-logo {
			text-align: center;
			font-family: 'Lustria', serif;
			width: 30%;
			text-align: center;
			font-size: 2rem;
			opacity: 0.7;
			color: $text-color-white;
		}
		&__items {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			height: 10vh;
			width: 100vw;
			margin-left: 5em;
			&-item {
				position: relative;
				color: $text-color-white;
				text-decoration: none;
				text-transform: uppercase;
				padding: 1em 1em;
				margin-left: 4em;
				&::before {
					position: absolute;
					bottom: 0;
					left: 0;
					height: 2px;
					width: 100%;
					transform: scaleX(0);
					background-color: $text-color-white;
					transition: transform 0.3s;
					content: '';
				}
				&:hover::before {
					transform: scaleX(0.8);
				}
			}
		}
	}
}
